<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Dodaj swój turniej</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body class="bg-secondary">
<header>
    <div class="p-3 mb-2 bg-dark text-white text-right">
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-warning">
    <a class="navbar-brand text-warning" href="#" th:href="@{/}">STRONA GŁÓWNA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/tournaments}">Turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/ranking}">Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTournament}">Dodaj turniej</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/myTournament}">Moje turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTeam}">Dodaj drużynę</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:if="not ${name}">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Szukaj</button> -->
            <a class="btn btn-outline-warning mr-2"  href="#" th:href="@{/register}">Zajerestruj się</a>
            <a class="btn btn-warning" href="#" th:href="@{/login}">ZALOGUJ</a>
        </form>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" th:if="${name}">
            <button type="submit" class="btn btn-warning">WYLOGUJ</button>
        </form>
    </div>
</nav>

<div class="card bg-dark offset-sm-3 col-sm-6 mt-2" >

    <h5 class="card-header bg-warning text-dark text-center py-4">
        <strong>DODAJ TURNIEJ</strong>
    </h5>
    <!--class="offset-sm-2 offset-md-3 col-sm-8 col-md-6 bg-dark rounded"-->
    <form  action="#" method="post" th:action="@{/save}" th:object="${tournament} ">
        <div class="form-group">
                <input type="text" class="form-control" placeholder="Nazwa turnieju" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label class="text-warning ml-1">Kategoria:</label>
                <div class="form-check-inline text-warning">
                    <div >
                        <input class="text-warning form-check-input col-auto ml-1" th:text="Open" type="radio" th:field="*{category}" th:value="Open">
                        <input class="text-warning form-check-input col-auto ml-1" th:text="Kobiety" type="radio" th:field="*{category}" th:value="Women">
                        <input class="text-warning form-check-input col-auto ml-1" th:text="Mężczyźni" type="radio" th:field="*{category}" th:value="Men">
                        <input class="text-warning form-check-input col-auto ml-1" th:text="Mixty" type="radio" th:field="*{category}" th:value="Mix">
                    </div>
                </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Miejscowość" th:field="*{location.city}"/>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ulica" th:field="*{location.street}"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Numer" th:field="*{location.number}"/>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" placeholder="Liczba par" th:field="*{sitesNumber}"/>
        </div>

        <div class="form-group">
            <input class="form-control" placeholder="Wpisowe" th:field="*{fee}"/>
        </div>

        <div class="form-group">
            <input type="date" class="form-control" placeholder="Data" th:field="*{date}"/>
        </div>

        <div class="form-group">
            <input type="time" class="form-control" placeholder="Godzina" th:field="*{time}"/>
        </div>

        <div class="form-row form-group">
            <button type="submit" class="btn btn-outline-warning btn-block waves-effect mb-3">Zapisz</button>
        </div>
    </form>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>