<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body style="background-color: gray">
<header>
    <div class="p-3 mb-2 bg-dark text-white text-right">
        <a class="btn btn-outline-warning"  href="#" th:href="@{/register}">Zajerestruj się</a>
        <a class="btn btn-warning" href="#" th:href="@{/login}">ZALOGUJ</a>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-warning">
    <a class="navbar-brand" href="#" th:href="@{/}">Strona główna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/tournaments}">Turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/ranking}">Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/addTournament}">Dodaj turniej</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>





