<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body style="background-color: gray">
<header>
    <div class="p-3 mb-2 bg-dark text-white text-right">
        <!--
        <a class="btn btn-outline-warning"  href="#" th:href="@{/register}">Zajerestruj się</a>
        <a class="btn btn-warning" href="#" th:href="@{/login}">ZALOGUJ</a> -->
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-warning">
    <a class="navbar-brand text-warning" href="#" th:href="@{/}">STRONA GŁÓWNA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/tournaments}">Turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/ranking}">Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTournament}">Dodaj turniej</a>
            </li>
            <li>
                <a class="nav-link text-secondary" href="#" th:href="@{/myTournaments}">Moje turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTeam}">Dodaj drużynę</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:if="not ${name}">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Szukaj</button> -->
            <a class="btn btn-outline-warning mr-2"  href="#" th:href="@{/register}">Zajerestruj się</a>
            <a class="btn btn-warning" href="#" th:href="@{/login}">ZALOGUJ</a>
        </form>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" th:if="${name}">
            <button type="submit" class="btn btn-warning">WYLOGUJ</button>
        </form>
    </div>
</nav>
<div class="card bg-dark offset-sm-3 col-sm-6 mt-2">
    <form action="#" th:action="@{/saveTeam}" method="post" th:object="${team}">

        <h5 class="card-header bg-warning text-dark text-center py-4">
            <strong>Nazwa drużyny</strong>
        </h5>
        <div class="form-group" th:each="user : ${team.users}">
            <input type="hidden" th:field="*{users[__${userStat.index}__]}" placeholder="Powtorzenia" class="form-control" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nazwa drużyny"  th:field="*{name}"/>
            <p class="text-danger" th:errors="*{name}"></p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-warning btn-block waves-effect mb-3">Zapisz</button>
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>





