<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Turnieje</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body class="bg-secondary" >
<header>
    <div class="p-3 mb-2 bg-dark text-white text-right">
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-warning">
    <a class="navbar-brand text-warning" href="#" th:href="@{/}">STRONA GŁÓWNA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/tournaments}">Turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/ranking}">Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTournament}">Dodaj turniej</a>
            </li>
            <li>
                <a class="nav-link text-secondary" href="#" th:href="@{/myTournaments}">Moje turnieje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#" th:href="@{/addTeam}">Dodaj drużynę</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:if="not ${name}">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Szukaj</button> -->
            <a class="btn btn-outline-warning mr-2"  href="#" th:href="@{/register}">Zajerestruj się</a>
            <a class="btn btn-warning" href="#" th:href="@{/login}">ZALOGUJ</a>
        </form>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" th:if="${name}">
            <button type="submit" class="btn btn-warning">WYLOGUJ</button>
        </form>
    </div>
</nav>

<div class="container">
    <br />
    <table class="table table-striped table-bordered text-dark">
        <thead>
        <tr class="bg-dark text-warning">
            <td>Nazwa turnieju</td><td>Kategoria</td><td>Data</td><td>Godzina</td><td>Liczba par</td><td>Miejscowość</td><td>Ulica</td><td></td>
        </tr>
        </thead>
        <tbody th:each="tournament : ${tournaments}">
        <tr>
            <td  class="bg-warning" th:text="${tournament.name}"></td>
            <td th:text="${tournament.category}"></td>
            <td th:text="${tournament.date}"></td>
            <td th:text="${tournament.time}"></td>
            <td th:text="${tournament.sitesNumber}"></td>
            <td th:text="${tournament.location.city}"></td>
            <td th:text="${tournament.location.street + ' ' + tournament.location.number}"></td>
            <td>
                <a class="text-warning" th:href="${'/tournament?id='+tournament.id}">Zapisy</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>

